<div class="bg-primary-100 pb-1 rounded-t-sm rounded-b-md hover:text-white text-gray-500 transition-all duration-150 "
     [ngClass]="{'absolute top-0 right-0 bottom-0 left-0 m-4 z-10': fullscreen}">
  <div class="md:px-2 lg:px-6 lg:pb-2 bg-primary-900 text-center text-current rounded-t-sm rounded-b-lg rounded relative h-full"
       [ngStyle]="{'left:-1px; width:102%': !fullscreen}">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="347" viewBox="0 0 351 347">
      <g transform="translate(11.678 14.181)" style="isolation:isolate">
        <g transform="translate(35.869)">
          <line y2="63.711" transform="translate(7.309 14.229)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(0.452 1.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(70.029 13.804)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(63.452 0.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 76.937) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(76.452 70.819) rotate(90)" class="fill-current"/>
          <circle cx="7" cy="7" r="7" transform="translate(0.452 70.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 8.282) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(70.029 14.229)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="6.5" cy="6.5" r="6.5" transform="translate(63.452 1.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(133.897 13.804)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 0.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 76.937) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(141.452 70.819) rotate(90)" class="fill-current"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(63.452 70.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 8.282) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(133.897 13.379)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7.5" cy="6.5" rx="7.5" ry="6.5" transform="translate(126.452 0.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(197.765 12.954)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 -0.181)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 76.166) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(203.452 69.819) rotate(90)" class="fill-current"/>
          <circle cx="7.5" cy="7.5" r="7.5" transform="translate(126.452 69.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 7.433) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(197.765 13.379)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(189.452 0.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(260.466 12.954)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(253.452 -0.181)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 76.166) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(267.452 69.819) rotate(90)" class="fill-current"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(189.452 69.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 7.433) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(7.309 80.661)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(0.452 70.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(70.029 80.285)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(63.452 70.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 146.74) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(76.452 138.819) rotate(90)" class="fill-current"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(0.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 77.323) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(70.029 80.661)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(63.452 70.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(133.897 80.285)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 70.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 146.74) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(141.452 138.819) rotate(90)" class="fill-current"/>
          <ellipse cx="6.5" cy="7.5" rx="6.5" ry="7.5" transform="translate(63.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 77.323) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(133.897 79.909)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7.5" cy="7.5" r="7.5" transform="translate(126.452 69.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(197.765 79.533)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 69.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 145.969) rotate(90)" class="fill-current" stroke="#30445d"
                stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(203.452 138.819) rotate(90)" class="fill-current"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 76.551) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(197.765 79.909)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(189.452 69.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(260.466 79.533)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(253.452 69.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 145.969) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(267.452 138.819) rotate(90)" class="fill-current"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 76.551) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(7.309 148.725)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(0.452 138.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(70.029 148.349)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(63.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 216.542) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(76.452 208.819) rotate(90)" class="fill-current"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(0.452 209.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 147.125) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(70.029 148.725)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="6.5" cy="7.5" rx="6.5" ry="7.5" transform="translate(63.452 138.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(133.897 148.349)" fill="none" stroke="#30445d" stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 216.542) rotate(90)" class="fill-current" stroke="#30445d"
                stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(141.452 208.819) rotate(90)" class="fill-current"/>
          <circle cx="6.5" cy="6.5" r="6.5" transform="translate(63.452 209.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 147.125) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(133.897 147.973)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 138.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(197.765 147.597)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 215.771) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(203.452 207.819) rotate(90)" class="fill-current"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 208.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 146.354) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(197.765 147.973)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 138.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(260.466 147.597)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(253.452 138.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 215.771) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(267.452 207.819) rotate(90)" class="fill-current"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 208.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 146.354) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(7.309 215.142)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(0.452 209.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(70.029 214.717)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(63.452 208.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 285.648) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7" cy="6.5" rx="7" ry="6.5" transform="translate(76.452 279.819) rotate(90)" class="fill-current"/>
          <circle cx="7" cy="7" r="7" transform="translate(0.452 279.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(76.116 216.928) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(70.029 215.142)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="6.5" cy="6.5" r="6.5" transform="translate(63.452 209.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(133.897 214.717)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 208.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 285.648) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(141.452 279.819) rotate(90)" class="fill-current"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(63.452 279.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(134.491 216.928) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(133.897 214.293)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 208.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(197.765 213.868)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(189.452 207.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 284.799) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(203.452 278.819) rotate(90)" class="fill-current"/>
          <ellipse cx="7.5" cy="7" rx="7.5" ry="7" transform="translate(126.452 278.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(195.32 216.157) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <line y2="63.711" transform="translate(197.765 214.293)" fill="none" class="stroke-current" stroke-width="1"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 208.819)" class="fill-current"/>
          <line y2="63.711" transform="translate(260.466 213.868)" fill="none" class="stroke-current" stroke-width="1"/>
          <ellipse cx="7" cy="7.5" rx="7" ry="7.5" transform="translate(253.452 207.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 284.799) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
          <ellipse cx="6.5" cy="7" rx="6.5" ry="7" transform="translate(267.452 278.819) rotate(90)" class="fill-current"/>
          <circle cx="7" cy="7" r="7" transform="translate(189.452 278.819)" class="fill-current"/>
          <path d="M0,0V63.711" transform="translate(253.245 216.157) rotate(90)" class="fill-current stroke-current"
                stroke-width="1"/>
        </g>
        <text transform="translate(129.322 324.819)" class="fill-current" font-size="10" font-family="SegoeUI-Bold, Segoe UI"
              font-weight="700">
          <tspan x="0" y="0">TOTAL IMPACT</tspan>
        </text>
        <text transform="translate(11.322 179.819) rotate(-90)" class="fill-current" font-size="10"
              font-family="SegoeUI-Bold, Segoe UI" font-weight="700">
          <tspan x="0" y="0">LIKELIHOOD</tspan>
        </text>
      </g>
      <ellipse cx="13.5" cy="14" rx="13.5" ry="14" transform="translate(234 146)" fill="#e29a32"/>
      <ellipse cx="13.5" cy="14" rx="13.5" ry="14" transform="translate(294 146)" fill="#c91d62"/>
      <circle cx="14" cy="14" r="14" transform="translate(295 215)" fill="#e29a32"/>
      <ellipse cx="13.5" cy="14" rx="13.5" ry="14" transform="translate(168 286)" fill="#226b45"/>
    </svg>
    <button class="absolute bottom-0 right-0 mb-4 mr-4 cursor-pointer text-current focus:outline-none" (click)="grow()">
      <i class="fa fa-compress text-current"></i>
    </button>
  </div>
</div>



