<aside class="bg-primary flex flex-col justify-between min-h-screen items-center content-center">
  <div class="flex flex-col w-full">
    <img src="../../assets/logo.svg" class="mx-auto my-4">
    <span class="text-gray-500 mb-6 px-5">Your projects</span>
    <a routerLink="/projects" routerLinkActive="active"
       class="px-10 text-gray-500 text-sm p-4 mb-2 uppercase font-bold bg-primary-900">
      <i class="fas fa-copy text-xl text-gray-200 mr-3 w-6 h-6"></i>
      Projects
    </a>
    <a routerLink="/" routerLinkActive="active" class="px-10 text-gray-500 text-sm p-4 mb-2 uppercase font-bold">
      <i class="fas fa-inbox text-xl text-gray-200 mr-3 w-6 h-6"></i>
      Archive
    </a>
    <a routerLink="/tablet-app" routerLinkActive="active" class="px-10 text-gray-500 text-sm p-4 mb-2 uppercase font-bold">
      <i class="fas fa-download text-xl text-gray-200 mr-3 w-6 h-6"></i>
      Tablet app
    </a>
  </div>
  <button class="self-start w-full bg-primary-900 w-full flex flex-col relative  py-3">
    <h1 class="text-gray-100 font-bold px-5 text-sm w-full">Diederik Bol</h1>
    <div class="text-sm text-gray-300 px-5">
        Log out
    </div>
    <div class="text-gray-300 mr-3 mb-4 absolute bottom-0 right-0"><i class="fa fa-caret-down"></i></div>
  </button>
</aside>
