<main class="w-full pr-8">
  <div class="w-full flex justify-between p-5 pr-8">
    <h1 class="text-4xl text-gray-600">Projects</h1>
    <form class="relative">
      <input type="search" class="p-4 py-3 pl-8 z-0 rounded" placeholder="search">
      <i class="fa fa-search text-gray-500 absolute top-0 left-0 mt-4 ml-2 z-10 text-xl"></i>
    </form>
  </div>
  <div class="w-full pr-8 pl-8">
    <table class=" table w-full pr-8">
      <thead class="">
        <th class="text-sm uppercase text-gray-500 text-left w-4/12">
          Project name
        </th>
        <th class="text-sm uppercase text-gray-500 text-right w-2/12">
          Version
        </th>
      <th class="text-sm uppercase text-gray-500 text-left w-3/12">
        risk manager
      </th>
      <th class="text-sm uppercase text-gray-500 text-left w-2/12">
        date created
      </th>
      <th class="text-sm uppercase text-gray-500 text-right w-2/12">
        last change
      </th>
      </thead>
    </table>
  </div>
</main>
