<h1 class="text-gray-500 mt-10 m-8 text-3xl">Download the app</h1>
<p class="m-8 text-gray-600 w-6/12">
  Download your RiskChallenger IPad app and have interactive sessions of risk management in your organization!
</p>

<p class="m-8 text-gray-600 w-6/12">
  The IPad app is available for all IPads from generation 4 and younger. Please make sure your working with IOS 10.
</p>
<p class="m-8 text-gray-600 w-6/12">
  Good luck and have fun!
</p>

<app-button class="m-8 text-gray-500" text="Download App" icon="download">
</app-button>
